.site-header {
    color: #ecfdf9;
    height: 100%;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.site-header-content {
    margin: 10px;
}

.profile-pic {
    border-radius: 50%;
    height: 50%;
    width: 40%;
    box-shadow: #009688 2px 5px 5px;
}

.my-link {
    color: #ecfdf9;
}

body {
    background-color: #1bbc9b;
    margin: 0;
}